<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <% if (isAuthenticated && user)  { %>
                <% if ( user.role === 'User') { %>
                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <% } else if(user.role === 'Admin') { %>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Create Product
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Manage Products
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/userAccount' ? 'active' : '' %>" href="/admin/userAccount">Users
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/order' ? 'active' : '' %>" href="/admin/order">Orders
                    </a>
                </li>
                <% }  else { }%>

                <% } %>
        </ul>
           
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
               
                <li class="main-header__item">
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/account">Account Setting</a>
                    </li>
                    <form action="/logout" method="post">
                        <button type="submit" class="logout-btn">Logout</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <% if (isAuthenticated) { %>
            <% if ( user.role == 'User') { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <% } else { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Create Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Manage Products
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/userAccount' ? 'active' : '' %>" href="/admin/userAccount">Users
                </a>
            </li>
            <li>
                <a class="<%= path === '/admin/order' ? 'active' : '' %>" href="/admin/order">Orders
                </a>
            </li>
           
        <% } %>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/account">Account Setting</a>
                </li>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>